/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --bg_main: #0a1f44;
    --text_light: #fff;
    --text_med: #53627c;
    --text_dark: #1e2432;
    --red: #ff1e42;
    --darkred: #c3112d;
    --orange: #ff8c00;
    --ff-title: 'BioRhyme', serif;
    --ff-all: 'Roboto Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

header {
    font-family: var(--ff-title);
    font-size: 3rem;
    text-align: center;
}

.weather-form {
    margin: 0 auto;
    text-align: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--ff-all);
    color: var(--text_light);
    background-color: var(--bg_main);
    text-align: center;
}

.city-name {
    font-size: 2rem;
    font-family: var(--ff-title);
    color: var(--text_light);
    background-color: var(--bg_main);
    text-align: center;
}

img {
    display: block;
    background-color: var(--text_light);
    max-width: 100%;
    margin: 0 auto;

}

label,
h3 {
    margin: 10px auto;
}

label {
    font-family: var(--ff-title);
    font-size: 2rem;
}

input {
    font-family: var(--ff-title);
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 600;
}

button {
    font-family: var(--ff-title);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
}

.date-value {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.date-value-second {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.date-value-third {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}